<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Books</title>
</head>
<body>
    <form action="/add" method="POST">
        <input type="text" name="t" placeholder="Book Name" required>
        <input type="text" name="AN" placeholder=" Author name" required>
        <input type="text" name="G" placeholder="Genre" required>
        <input type="text" name="E" placeholder="Edition" required>
        <input type="text" name="U" placeholder="url" required>
        <input type="text" name="s" placeholder="link for image" required>
        <button type="submit">Add</button>
    </form>
    <br>
    <a href="/">Go To Main Page</a>
    
</body>
</html>