<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/"> Admin Page</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/2">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/1">Books Available</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Users Queries</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/signup"><span class="fas fa-user"></span> Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logout" href="/logout"><span class="fas fa-sign-in-alt"></span> Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/" method="POST">
      <input id="se" class="form-control mr-sm-2" name="but" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 
<body>
 <br><br><br><br><br><br><br><br><br> <p class="wa"><font size="23" color="red"><center><b>Welcome Admin</b></center></font></p>

 <div id="box">
     <a href='/add'><button type="Button" id="add">Add Items</button></a>
     <a href='/delete'><button type="Button" id="del">Delete Items</button></a>
 </div>

</body>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Welcome</h3>
          <p class="lead">Hope you have a great experience using our book-cart.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Books are humans best-friend.</h3>
          <p class="lead">Find obooks of your interest.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Think we missed out some books??</h3>
          <p class="lead">Contact Us!!!!!!!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>
<style>
    body {
        background-image: url("https://miro.medium.com/max/1838/1*Cbj_BcK5ePD4Mc4TK4sfvQ.jpeg")
    }
#carouselExampleIndicators{
  transform: translate(0cm,-2cm);
  position: relative;
}
    #box {
        height: 4cm;
        width: 10cm;
        border: 6px black;
        margin: 1cm;
        background-color: lightskyblue;
        transform: translate(-1cm,-9cm);
        position: relative;
    }

    #add{
    size: 3cm;
     transform: translate(1cm,1cm);
     position: relative;
     background-color: lightskyblue;
    }

    #del{
     size: 3cm;
     transform: translate(3cm,1cm);
     position: relative;
     background-color: lightskyblue;
    }

    .carousel-item {
  height: 5cm;
  min-height: 1cm;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
</style>
