<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="login.hbs"></script>
    <title>Contact Us</title>
  </head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="/"> Your Book Store</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navb" class="navbar-collapse collapse hide">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/2">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/1">Books Available</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      
      <li class="nav-item">
        <a class="nav-link" id="logout" href="/logout"><span class="fas fa-sign-in-alt"></span> Logout</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/" method="POST">
      <input id="se" class="form-control mr-sm-2" name="but" type="search" placeholder="Search" aria-label="Search" required>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> 

  <body>
    <header>
      <h1>Tell us about the new <br> books you want to get <br> information</h1>
    </header>

    <section>
      <div id="change_username">
	<input id="username" type="text" placeholder="Enter your Login Username" required />
	<button id="send_username" type="button" onclick="disable()">Chat</button>
      </div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>

function disable(){
  document.getElementById("username").disabled=true;
}
      $(function(){
   	//make connection
	var socket = io.connect('http://localhost:3000')

	var message = $("#message")
	var username = $("#username")
	var send_message = $("#send_message")
	var send_username = $("#send_username")
	var chatroom = $("#chatroom")
	var feedback = $("#feedback")

 

	//Emit message
	send_message.click(function(){
		socket.emit('new_message', {message : message.val()})
	})

	//Listen on new_message
	socket.on("new_message", (data) => {
		feedback.html('');
		message.val('');
		chatroom.append("<p class='message'>" + data.username + ": " + data.message + "</p>")
	})

	//Emit a username
	send_username.click(function(){
    
		socket.emit('change_username', {username : username.val()})
    
	})

	
});

    </script>
    
  </body>
  <style>
    vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    
}

header {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0px;
}

div#change_username, section#input_zone {
    border: 5px outset #8258FA;
}

div#change_username {
    height: 3%;
    display: inline-block;
    background-color: #BCA9F5;
}

section#chatroom {
    border: 5px inset #8258FA;
    height: 60%;
    overflow: auto;
}

section#input_zone {
    height: 7%;
    text-align: center;
    background-color: #BCA9F5;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    font-family: 'Comfortaa', sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: 'Comfortaa', sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}
  </style>
</html>